.categoria1__desc{
    
    color: black;
    position: static;
   
}
.categoria1__imagen{
    overflow: initial;
    margin-bottom: 7rem;
}

.categoria1__img:hover {
    transform: scale(1);
}
strong{color: black;font-weight: bolder;
}
p{color: black; font-weight: lighter;}
