footer {
    margin: 1.5rem 0;
    font-family: 'Proxima-Nova-Regular';
    position: relative;
}
.ultimo{
    width: 80%;
    margin: auto;
}
.boton_final{
    display: block;
    width: 48%;
    margin: auto;
    border: 2px solid rgb(200, 200, 200);
    /* border-radius: 11%; */
    overflow: hidden;
}
.imagen_final{
    width: 100%;
    height: 100%;
    display: block;
}
@media screen and (min-width:945px) {
    
    footer {
        margin: 1rem 0;
       
    }
    .ultimo{
        width: 30%;
        position: absolute;
      right: 10px;
      top: 40%;
    }
}

.direccion {
    text-align: center;
    color: #5F5F5F;

}

.direccion__item {
    margin: .5rem 0;
}

.sociales__item {
    color: hsl(216deg, 85%, 34%);
}




.direccion {
    margin-bottom: 1rem;
    font-size: .8rem;
}


@media screen and (min-width:630px) {
    .direccion {
        font-size: 1.2rem;
    }
    .ultimo{
        width: 30%;
        position: absolute;
      right: 0;
      top: 40%;
    }

}

.sociales {
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem 0;
}
.color{
    color: hsl(216deg, 85%, 34%);
}